<!DOCTYPE html>
<html>
  <head>
    <title>Web Components @SydJS</title>
    <link rel="stylesheet" type="text/css" href="bower_components/pure/pure.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <div class="header-wrap">
      <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <ul>
              <li class="pure-menu-selected"><a href="/">Home</a></li>
              <li><a href="/polymer">Polymer</a></li>
              <li><a href="/component">Component</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="content-wrap">
      <div class="content">
        <h1>Here be dragons:</h1>
        <ul>
          <li><a href='/polymer'>Polymer Dragon</a></li>
          <li><a href='/component'>Component Dragon</a></li>
        </ul>
      </div>
    </div>
    
  </body>
</html>
