<!DOCTYPE html>
<html>
  <head>
    <title>Web Components @SydJS</title>
    <link rel="stylesheet" type="text/css" href="bower_components/pure/pure.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <div class="header-wrap">
      <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <ul>
              <li class="pure-menu-selected"><a href="/">Home</a></li>
              <li><a href="/polymer">Polymer</a></li>
              <li><a href="/component">Component</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="content-wrap">
      <div class="content">
        <h1>Try the experiments:</h1>
        <ul>
          <li><a href='/polymer'>Polymer</a></li>
          <li><a href='/component'>Component</a></li>
        </ul>
      </div>
    </div>
    
    <div class="content-wrap">
      <div class="content">
        <h2>Browser Requirements</h1>
        <p>Polymer only behaves as expected in Firefox 30 (which is what I used while developing). It behaves differently in Chrome 35 (which has proper shadow dom support) and Safari 8 (which doesn't seem to work at all)<p>
        <p>Component behaves as expected in all the browsers I tested it with.</p>
      </div>
    </div>
    
    <div class="content-wrap">
      <div class="content">
        <h2>Source Code and Readme</h1>
        <p>The source code and readme for these experiments are on my GitHub page:</p>
        <p><a href='https://github.com/JedWatson/talk-sydjs-webcomponents'>github.com/JedWatson/talk-sydjs-webcomponents</a></p>
      </div>
    </div>
    
  </body>
</html>
